<h1>Author n°<%= @id_page %></h1>
Surname : <%= @my_author.first_name %> <br>
Family name : <%= @my_author.last_name %> <br>
Age : <%= @my_author.age %> <br>
Email : <%= @my_author.email %><br>
Author's description : <%= @my_author.description %><br>
